body{
    font-family: 'Be Vietnam Pro', sans-serif;
    margin:150px;
    
   
}

h1{
    font-size: 65px;
    margin: 0;
    
    border-left-style: solid;
    border-left-color: coral;
    
}

#heading-1{
    color: tomato;
}

button{
    background-color: magenta;
    border:none;
    padding: 10px 50px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

.main-div{
    display: flex;
    
}

.photo img{
    width: 400px;
}

.another-heading{
    text-align: center;
    font-size: 35px;
}

.year{
    color: deeppink;
}

.all-goal{
    display: flex;
    
  
 
}

.image img{
    width: 40%;
}
.mission{
    width: 30%; padding: 25px 30px; border-radius: 20px;margin: 10px;
    background-color: khaki;
    justify-content: center;
}
.vission{
    width: 30%; padding: 25px 30px; border-radius: 20px; margin: 10px;
    background-color: lightcoral;
    justify-content: center;
}
.goals{
    width: 30%; padding: 25px 30px; border-radius: 20px; margin: 10px;
    background-color: lightskyblue;
    justify-content: center;
}


.photo{
    margin: 70px;
    margin-top: 70px;

    
}

.one-side{
    margin-top: 50px;
    
}

h2{
    font-size: 50px;
}

.size{
    font-size: 30px;
    
}

.margin{
    margin: 0 auto;
}
