body{
    font-family: 'Be Vietnam Pro', sans-serif;
    margin:150px;
   
}

h1{
    font-size: 65px;
    margin: 0;
    
    border-left-style: solid;
    border-left-color: coral;
    
}

#heading-1{
    color: tomato;
}

button{
    background-color: magenta;
    border:none;
    padding: 10px 50px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

.main-div{
    display: flex;
    
}

.photo img{
    width: 400px;
}

.another-heading{
    text-align: center;
    font-size: 35px;
}

.year{
    color: deeppink;
}

.all-goal{
    display: flex;
    
}